/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #1a4733;
    color: black;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
  }
  
  nav h1 {
    font-weight: 5px;
    font-family: Brush Script MT;
    margin-top: 30px;
    font-size: 45px;

  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: rgb(17, 155, 17);
  }
  
  .header {
    text-align: left;
    margin-top: 50px;
  }
  
  .header h2 {
    font-size: 25px;
  }
  .header p{
    font-size: 20px;
  }
  .header p i{
    margin-right: 10px;
    display: inline-flex;
    color: rgb(17, 155, 17);
  }
  .cv {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    padding: 10px 10px;
    background-color: rgb(17, 155, 17);
    border-radius: 10px;
  }
  .cv :hover{
    background-color: black;
    color: rgb(17, 155, 17);
  }
  
  
  .about-me {
    margin-top: 100px;
    text-align: center;
  }
  .about-me p{
    font-size: 20px;
    text-align: right; 
    padding: 20px 20px;
  }
  .see-more {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    padding: 10px 10px;
    background-color: rgb(17, 155, 17);
    border-radius: 10px;
  }
  .see-more :hover{
    background-color: black;
    color: rgb(17, 155, 17);
  }
  
  .services {
    margin-top: 300px;
    text-align: center;
  }
  .service-card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    border: 5px solid #3db897;
    border-radius: 10px;
    margin: 10px;
  }
  
  .skills {
    margin-top: 70px;
    text-align: center;
  }
  .skills .skill-bar {
    background-color: #3db897;
    margin: 20px 0;
    padding: 10px;
    color: #1a4733;
    border-radius: 5px;
  }
  
  .contact {
    margin-top: 70px;
    text-align: center;
  }
  .contact form {
    display: grid;
    gap: 10px;
  }
  
  .contact input, .contact textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .btn {
    background-color: #3db897;
    padding: 10px 20px;
    color: #1a4733;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    
    .service-card {
      width: 90%;
    }
  }

  .footer {
    text-align: center;
    color: black;
    margin-top: 50px;
  }